body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result{
    font-size: 48px;
    color: red;
}


.scanner {
    border: 1px solid red;
}

.scannerViewport {
    border: 1px solid green;
}
